@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-family: 600;
  src: url('./fonts/Poppins-SemiBold.ttf');
}
