@import './fonts.css';
@import './index.css';
@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: var(--max-width);
  height: 100vh;
  margin: auto;

  font-size: 16px;
  line-height: 1.2;
  color: var(--dark);
}

p,
input {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  border-style: none;
}

.green {
  background-color: var(--green);
}

.gold {
  background-color: var(--gold);
}

.red {
  background-color: var(--red);
}

.light {
  background-color: var(--light);
}

.light-orange {
  background-color: var(--light-orange);
}

source .container {
  background-color: var(--white);
  min-height: 100vh;
}

.content {
  max-width: var(--container-width);
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
}
