.content__btn-add {
  width: 30%;
  height: 78px;
  margin-bottom: 2rem;

  border-radius: 5rem;
  border: 1px solid var(--blue);
  background-color: var(--white);
  color: var(--blue);

  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.9px;
  text-transform: uppercase;
  cursor: pointer;
}

.content__btn-add:hover {
  color: var(--white);
  background-color: var(--blue);
  transition: 0.3s;
}

.project__box {
  margin: auto;
}
